{% extends 'base.html' %}

{% block title %} Humster {% endblock %}

{% block content %}
    <div class="page-header">
            <h1>Knock to enter a magic place</h1>
    </div>
    <div class="row">
        <div class="col-xs-6 centered-text">
            <form action="application-form">
                <input type="image" class="img-thumbnail" name="submit" src="https://s-media-cache-ak0.pinimg.com/736x/bf/a0/68/bfa068378e1d9d08f69901b87eef3d6a.jpg"
                   border="0"
                   width="304"
                   height="236"
                   alt="Knock-knock"/>
            </form>
        </div>
        <div class="col-xs-6"></div>
    </div>
   <div class="row">
      <div>
        <hr>
      </div>
   </div>
{% endblock %}